<!DOCTYPE html>
<html>
    <head>
        <title>112303584_張耕碩</title>
        <link rel="stylesheet" href="../static/css/112303584_css.css">
    </head>
    <body>

        <h1><del>無聊的</del>自我介紹</h1>
        <table border="3" width="1200px">
            <tr>
                <th><font size="5">這是我</font></th>
                <th><font size="5">我在哪</font></th>
                <th><font size="5">我的推</font></th>
            </tr>
            <tr>
                <td>
                    <a href="https://www.wlsh.tyc.edu.tw/">
                        <img src="../static/img/畢業照方形.JPEG"
                         alt="找不到圖片"
                         width="400px">
                    </a>
                </td>
                <td>
                    <a href="https://www.me.ncu.edu.tw/">
                        <img src="../static/img/中央機械.jpg"
                         alt="找不到圖片"
                         width="400px">
                    </a>
                </td>
                <td>
                    <a href="112303584_index.html">
                        <img src="../static/img/Ado.avif"
                         alt="找不到圖片"
                         width="400px">
                    </a>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">我是張耕碩，土生土長的桃園人</font><br>
                    <a href="https://www.wlsh.tyc.edu.tw/"><font size="3">我的母校</font></a>
                </td>
                <td
                    <font size="3">就讀於<a href="https://www.me.ncu.edu.tw/">國立中央大學機械系</a><br>
                    <del>非常歡迎大家加入這個大家庭</del>
                </font>
                </td>
                <td>
                    <font size="3">這是我推 Ado，我最喜歡的歌是うっせぇわ (Usseewa)<br>
                        她的歌聲有些人喜歡，有些人不喜歡<br>
                        <del>像哈密瓜一樣</del> <a href="112303584_index.html">更多介紹</a>
                    </font>
                </td>
            </tr>
        </table>
        點圖片和部分文字獲取更多資訊
    </body>
</html>